{% extends 'base.html' %}
{% block content %}
<!-- Home section -->
{% include 'includes/_home.html' %}

<!-- Services section -->
{% include 'includes/_services.html' %}

<!--About section -->
{% include 'includes/_about.html' %}

<!-- Ads section -->
{% include 'includes/_ads.html' %}

<!-- Testimonial section -->
{% include 'includes/_testimonials.html' %}

<!-- Contact section -->
{% include 'includes/_contact.html' %}

<!-- Find us section -->
{% include 'includes/_find_us.html' %}

<!-- Newsletter section -->
{% include 'includes/_newsletter.html' %}

<!-- Extra links section -->
{% include 'includes/_link_section.html' %}


{% endblock %}
